*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:  #F2F2F2;
}

li {
    list-style:none;
}

a {
    text-decoration: none;
}


@import url('https://fonts.googleapis.com/css2?family=Hind&family=Work+Sans&display=swap');




.BoxWrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* First Section */

.FirstSection {
    padding: 0 135px;
    width: 100%;
    background: url('./images/FirstSecBg.png') top right no-repeat;
    background-size:contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:16px;
}

.headerDiv {
    width: 100%;
    max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -1px;
    color: #333333;
    font-family: 'Hind', sans-serif;
}

.navigation {
    width: 100%;
    margin-left: 42px;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.navigation ul li a {
    color:  #333333;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.navigation ul li a:hover {
    text-decoration: underline;
}

.headerLastChild  {
    font-family: 'Hind', sans-serif;
    background: none;
    border: 1px solid #F07566;
    color:#F07566;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 30px;
    cursor:pointer;
    transition: 0.4s;
}



.headerLastChild:hover {
    border: 1px solid #4DB282;
    color:#4DB282;
    transition: 0.4s;
}


.SectionLastBox {
    width: 100%;
    max-width: 1170px;
    display: flex;
    gap: 100px;
    justify-content: center;
    margin: 128px 0;
}

/* =======================BOX2============================== */


.Box2 {
    display: flex;
}

.Box2R {
    height: 184px;
    width: 38px;
    margin-top: 158px;
    background: #F07566;
    border-radius: 0px 8px 8px 0px;
}

.Speakerbox {
    position: absolute;
    background: #4DB282;
    box-shadow: 0px 16px 24px rgba(77, 60, 0, 0.16109);
    width: 100px;
    height: 100px;
    margin: 96px 0px 0 -50px;
    border-radius: 50% 50% 0px 50% ;
    display: flex;
    justify-content: center;
    align-items: center;
}


.statisticBox {
    position: absolute;
    width: 216px;
    height: 126px;
    margin: 400px 0 0 -50px;
    background: #FFFFFF;
    box-shadow: 0px 24px 48px rgba(86, 66, 0, 0.0799083);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.RboxConent {
    width: 462px;
    height: 480px;
    top: 192px;
    background: #FBD34B;
    border-radius: 100px 8px 8px 8px;
    overflow: hidden;
}


.RboxConent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* =======================END BOX2============================== */

/* =======================BOX1============================== */
.Box1 {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 37px;
}

.Box1 h3::before {
    content:'';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #F07566;
}

.Box1 h3 {
    font-family: 'Hind', sans-serif;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 700;
    font-size: 16px;
    color: #F07566;
}

.Box1 h2 {
    font-family: 'Hind', sans-serif;
    color: #333333;
    letter-spacing: -1px;
    font-size: 72px;
    display: flex;
    flex-direction: column;
}

.Box1 h2 .underline::after {
    content: url(./images/TextUnderline.svg);
    display: inline-block;
    margin: -35px 0 0 0;
    
}

.Box1 h2 .underline {
    display: flex;
    flex-direction: column;
    color:  #4DB282;
}

.Box1span {
    font-size: 20px;
    color: #333333;
    font-family: 'Work Sans', sans-serif;
    padding: 0 0 34px 0;
}

.Box1li {
    font-size: 16px;
    color: #333333;
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    gap: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.Box1li li::before {
    content: url(./images/checked.svg);
    padding: 0 10px 0 0 ;
    width: 24px;
    height: 22px;
}


.Box1 h4 {
    font-size: 24px;
    font-family: 'Hind', sans-serif;
}

.Box1 button {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    padding: 12px 0;
    width: 154px;
    color: #FFFFFF;
    background: #F07566;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.Box1 button:hover {
    background: #b8736a;
}

.box1 h4 {
    font-size: 24px;
    color: #333333;
}

.box1insidediv {
    width: 470px;
    height: 144px;
    background: #FFFFFF;
    box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
    border-radius: 8px;
    padding: 22px;
}


.box1insidediv header {
    font-family: 'Hind', sans-serif;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 0 ;
    font-size: 24px;
}

.Box1span11 {
    color: rgba(51, 51, 51, 0.496405);
    font-size: 14px;
    line-height: 24px;
    font-family: 'Work Sans', sans-serif;
}

.Box1span12 {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}


.SerInfo {
    width: 100%;
    display: flex;
    gap: 100px;
}

.SerInfoCard {
 
    display: flex;
    gap: 24px;
}

.ImgServinfo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFAEA;
    border-radius: 8px;
    width: 56px;
    height: 56px;
}

.ImgServinfo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#EEF6FF;
    border-radius: 8px;
    width: 56px;
    height: 56px;
}

.infoServ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spanInfo1 {
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #333333;
}

.spanInfo2 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.496405);
}


/* =======================BOX1============================== */


/*END First Section */


/*Second Section */
.secondSection {
    width: 100%;
    max-width: 1170px;
    margin: 200px 0 0 0;
    position: relative;
    display: flex;
    gap: 100px;
}


.Box3 {
    width: 100%;
    position: relative;
    display: flex;
    margin: 0 0 0 50px ;
}



.Box3Condiv3 {
    position: absolute;
    width: 520px;
    height: 448px;
    background: #D8D8D8;
    border-radius: 8px 100px 8px 8px;
    overflow: hidden;
    z-index: 3;
}

.Box3Condiv3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Box3Condiv1 {
    position: relative;
    width: 482px;
    height: 326px;
    margin:138px 0 0 -16px ;
    background: #FBD34B;
    border-radius: 12px;
    z-index: 1;
}

.Box3Condiv2 {
    position: absolute;
    width: 132px;
    height: 160px;
    margin:318px 0 0 -30px ;
    background: #F07566;
    border-radius: 8px;
    z-index: 2;
}

.Box3Condiv4 {
        position: absolute;
        background: #4DB282;
        box-shadow: 0px 16px 24px rgba(77, 60, 0, 0.16109);
        width: 100px;
        height: 100px;
        margin: 64px 0px 0 -50px;
        border-radius: 50% 50% 0px 50% ;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 4;

}


.Box3Condiv5 {
    position: absolute;
    width: 128px;
    height: 128px;
    margin: 376px 0 0 438px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 24px 48px rgba(86, 66, 0, 0.0799083);
    border-radius: 8px;
    z-index: 5;
}


/*Second Section */



/* Section 3 */
.Section3 {
        width: 100%;
        padding: 180px 135px;
        background: url('./images/SectionBg3.png') top left no-repeat;
        background-size:contain;
        margin-top: 112px;

}

.BoxWrapper3 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.Wrapper3Card {
    box-sizing: border-box;
    width: 270px;
    min-height: 368px;
    background: #FFFFFF;
    border: 1px solid #E6EDF5;
    border-radius: 8px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap:89px;
}

.Bws3 {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.Bws3h3 {
    font-size: 24px;
    font-family: 'Hind', sans-serif;
    color: #333333;
}

.Bws3span {
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.496405);
    font-family: 'Work Sans', sans-serif;
}

/* Section 3 */


/* Section 4 */
.Section4 {
    width: 100%;
    max-width: 1170px;
    margin: 250px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 100px;
}

/* Section 4 */


/* Box4 */

.Box4 {
    width: 100%;
    display: flex;
    position: relative;
}


.Box4Condiv3 {
    width: 462px;
    height: 480px;
    background: #D8D8D8;
    border-radius: 100px 8px 8px 8px;
    overflow: hidden;
    z-index: 3;
}

.Box4Condiv3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Box4Condiv1 {
    position: absolute;
    width: 173px;
    height: 439px;
    margin:57px 0 0 304px ;
    background: #FBD34B;
    border-radius: 12px;
    z-index: 1;
}

.Box4Condiv2 {
    position: absolute;
    width: 216px;
    height: 128px;
    margin:-52px 0 0 276px ;
    background: #F07566;
    border-radius: 8px;
    z-index: 2;
}

.Box4Condiv4 {
    position: absolute;
    background: #4DB282;
    box-shadow: 0px 16px 24px rgba(77, 60, 0, 0.16109);
    width: 100px;
    height: 100px;
    margin: 64px 0px 0 -50px;
    border-radius: 50% 50% 0px 50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;

}


.Box4Condiv5 {
    position: absolute;
    width: 216px;
    height: 128px;
    margin: 400px 0 0 123px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 24px 48px rgba(86, 66, 0, 0.0799083);
    border-radius: 8px;
    z-index: 5;
}
/* Box4 */


/* Section 5 */
.Section5 {
    max-width: 1170px;
    width: 100%;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    gap: 150px;
}

/* Section 5 */


/* Box 5 */

.Box5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.Box5 h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -1px;
    color: #333333;
    font-family: 'Hind', sans-serif;
}

.Box5 span {
    font-family: 'Work Sans', sans-serif;
    width: 70%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: rgba(51, 51, 51, 0.496405);
}

.Box5 h3::before {
    content:'';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #F07566;
}

.Box5 h3 {
    font-family: 'Hind', sans-serif;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 700;
    font-size: 16px;
    color: #F07566;
}

.PortFolioContent {
    display: grid;
    grid-template-columns: repeat(2 , 2fr);
    gap: 30px;
}

.portfolioBox {
    width: 570px;
    gap: 20px;
}


.Pbc {
    width: 570px;
    height: 384px;
    background: #D8D8D8;
    border-radius: 8px;
    display: flex;
    position: relative;
    overflow: hidden;
}


.Pbc img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s;
}

.Pbc img:hover {
    opacity: 0.5;
}

.Pbc div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: 96px;
    height: 96px;
    background: #4DB282;
    border-radius: 0px 24px 0px 8px;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1px;
    font-family: 'Hind', sans-serif;
    position: absolute;
}

.portfolioBox h2 {
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.Spanportf {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.496405);
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    text-align: center;
}

.PortBtn {
    margin-top: 100px;
}

/* Section6 */
.Section6 {
    width: 100%;
    max-width: 1170px;
    padding: 144px 0;
    display: flex;
    justify-content: center;
    position: relative;
}

/* Section6 */


/* Partners */
.Partners {
    display: flex;
    gap: 57px;
}
/*End Partners */


/* Section 7 */

.Section7 {
    width: 100%;
    max-width: 1170px;
    margin: 200px 0 0 0;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 100px;
    padding: 0 ;
}

/* Section 7 */

/* Box6*/

.Box6 {
    width: 100%;
    display: flex;
    position: relative;
}


.Box6Condiv3 {
    width: 462px;
    height: 480px;
    background: #D8D8D8;
    border-radius: 100px 8px 8px 8px;
    overflow: hidden;
    z-index: 3;
}

.Box6Condiv3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Box6Condiv1 {
    position: absolute;
    width: 255px;
    height: 319px;
    margin:178px 0 0 222px ;
    background: #FBD34B;
    border-radius: 12px;
    z-index: 1;
}

.Box6Condiv2 {
    position: absolute;
    width: 216px;
    height: 128px;
    margin:384px 0 0 88px ;
    background: #F07566;
    border-radius: 8px;
    z-index: 2;
}

.Box6Condiv4 {
    position: absolute;
    background: #4DB282;
    box-shadow: 0px 16px 24px rgba(77, 60, 0, 0.16109);
    width: 100px;
    height: 100px;
    margin: 64px 0px 0 -50px;
    border-radius: 50% 50% 0px 50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;

}


.Box6Condiv5 {
    position: absolute;
    width: 148px;
    height: 176px;
    margin: 144px 0 0 384px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 24px 48px rgba(86, 66, 0, 0.0799083);
    border-radius: 8px;
    z-index: 5;
}
/* Box6 */


/* Section 8 */
.Section8 {
    width: 100%;
    background-color: #F07566;
    margin: 158px 0 158px 0;
    display: flex;
    justify-content: center;
    padding: 0 ;
}
/* Section 8 */


/* Box 7 */
.Box7 {
    width: 100%;
    max-width: 1170px;
    height: 384px;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.VideBoxDiv {
    width: 371px;
    height: 508px;
    margin: -56px 0 0 0;
    background: url(./images/Bitmap.svg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.VideBoxDiv button {
    width: 128px;
    height: 128px;
    border: none;
    background: url(./images/Triangle.svg) center center no-repeat  #FBD34B;;
    border-radius: 8px;
    cursor: pointer;
}

.VideBoxDiv button:hover {
    background: url(./images/TriangleHov.svg) center center no-repeat  #FBD34B;
}

.Box8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 26px;
}

.Box8 h2 {
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #FFFFFF;
}

.Box8 span {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}

/* Box 8 */


/* Section 9 */
.Section9 {
    width: 100%;
    max-width: 1170px;
    margin: 80px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 62px;
    padding: 0;

}

/* Section 9 */


/* Box9 SliderBox */

.Box9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%;
    max-width: 1170px; */
    overflow: hidden;
}



.swiper {
    overflow: hidden;
    width: 100%;
    max-width: 1170px;
    padding: 0 0 50px 0;
    flex-direction: column;
}


.swiper-slide {
    width: 370px;
    height: 448px;
    background: #FFFFFF;
    border: 1px solid #E6EDF5;
    border-radius: 8px;
    box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.SwiperCard {
    flex-direction: column;
    gap: 15px;
    display: flex;
    width: 338px;
    padding: 16px;
}

.SWcardimg {
    width: 100%;
    height: 320px;
    background: #E7F3ED;
    border-radius: 8px 8px 50px 8px;
    overflow: hidden;
}

.SWcardimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.SwiperCard h2 {
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    color: #333333;
}

.SwiperCard span {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(51, 51, 51, 0.496405);
}

.swiper-pagination-bullet-active {
    background-color: #F07566;
    width: 16px;
    height: 16px;
}


.swiper-pagination-bullet {
    background-color: #F07566;

}

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sblue {
    background: #E7F3ED;
}
.Spurple {
    background: #F9E3E1;
}
.Sorange {
    background: #FBF6E3;
}

/*END Box9 SliderBox */


/* SEction 10 */
.Section10 {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 60px;
    margin-top: 200px;
    padding: 0 ;
}


/*END SEction 10 */


/* ReViewBoX */
.Box1RevieBox {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
    border-radius: 8px;
    padding: 32px;
    position: relative;
}



.Box1RevieBox::after {
    content: url(./images/RevieBox1.svg);
    width: 48px;
    height: 36px;
    position: absolute;
    top: -20px;
    right: 36px;
}


.RevSlideWraperr {
    width: 100%;
    height: 176px;
    position: relative;
    overflow: hidden;
}


.RevSlidCard {
    width: 100%;
    position: absolute;
    transition: 1s;
}

.RevSlidCard h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    font-family: 'Hind', sans-serif;
}
.RevSlidCard span {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(51, 51, 51, 0.496405);
}

.RevSlidCard p {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.496405);
    
}

.RevSlideBtn {
    display: flex;
    gap: 10px;
}

.RevSlideBtn button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#PrevRev::before {
    content: url(./images/ArrowL.svg);
    width: 12px;
    height: 20px;
}

#NextRev::before {
    content: url(./images/ArrowR.svg);
    width: 12px;
    height: 20px;
}
/* ReViewBoX */


/* Section11 */
.Section11 {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 240px;
    margin-top: 240px;
    padding: 0;
}

/*End Section11 */


/* Box10 */
.Box10 {
    width: 100%;
    max-width: 1170px;
    background: #F07566;
    border-radius: 8px;
    padding: 80px;
    display: flex;
    justify-content: center;
    gap: 240px;
    position: relative;
}

.Box10::before {
    content: url('./images/Lines.svg');
    bottom: -70px;
    position: absolute;
}
/* Box10 */


/* Box11 */
.Box11 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.Box11 h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #FFFFFF;
    font-family: 'Hind', sans-serif;
}
.Box11 button {
    background: #FBD34B;
    border-radius: 6px;
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    width: 170px;
    height: 48px;
    border: none;
    cursor: pointer;
}

.Box11 button:hover {
    background: #fcdb70;
}
/* Box11 */

/* Box12 */
.Box12 span  {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
}
/* Box12 */


/* Section12 */
.Section12 {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:140px;
    padding: 0;
}

/*End Section12 */




/* Box13 */
.Box13 {
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Box13 h2 {
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #333333;
    flex-grow: 1;
}

.SubSForm input {
    padding: 12px 16px;
    color: rgba(51, 51, 51, 0.496405);
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 6px;
    font-family: 'Work Sans', sans-serif;
}

.SubSForm button {
    background: #F07566;
    border-radius: 6px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Hind', sans-serif;
    border: none;
    padding: 10px 32px;
    cursor: pointer;
}

.SubSForm button:hover {
    background: #cf7d73;
}
/* Box13 */


/* Section13 */
.Section13 {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 200px 0 0 0 ;
    padding: 0 135px;
}

/*End Section13 */

/* Box14 */
.Box14 {
    width: 100%;
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    border: 1px solid #E6EDF5;
    border-radius: 8px;
    gap: 40px;
    padding: 16PX;
}

.Box14img {
    overflow: hidden;
    width: 554px;
    height: 336px;
    background: #D8D8D8;
    border-radius: 8px 8px 50px 8px;
}

.Box14img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Box14info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.Box14info h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #333333;
    font-family: 'Hind', sans-serif;
}
.Box14info span {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-family: 'Work Sans', sans-serif;
}
/* Box14 */

/* Box 15 */
.Box15 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.Box15card {
    width: 370px;
    height: 384px;
    background: #FFFFFF;
    border: 1px solid #E6EDF5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 16px;
}

.Box15card h2 {
    text-align: left;
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.Box15cardimg {
    width: 338px;
    height: 240px;
    background: #D8D8D8;
    border-radius: 8px 8px 50px 8px;
    overflow: hidden;
}

.Box15cardimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Box 15 */



/* Footer-Section */
.Footer-Section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 128px 0 0 0 ;
    padding: 76px 135px 52px 135px;
    background: #3F3836;
}
/* Footer-Section */

.Footer-Section footer {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #494949;
    padding-bottom: 68px;
}

.FooterLogo {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #FFFFFF;
    font-family: 'Hind', sans-serif;
}

.FootBox nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.FootBox nav h2 {
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #F07566;
}

.FootBox nav ul {
    display: flex;
    flex-direction: column;
}

.FootBox nav ul li a {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}

.FootBox nav ul li a:hover {
    color: #be9c98;
}

.FooterSocIcon {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.FooterSocIcon li {
    display: flex;
    background: #F07566;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

}

.FooterSocIcon li:hover {
    background: #8f3a2e;
}

.FooterBottom {
    max-width: 1170px;
    width: 100%;
    padding: 58px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.FooterBottom span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.502972);
    font-family: 'Work Sans', sans-serif;
}

.FotBotR {
    display: flex;
    gap: 67px;
}

.FotBotR span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: right;
    color: #FFFFFF;
}

.Burgermenu {
    display: none;
}


/* --------------Responsieve ------------------- */


@media screen and (max-width:360px){
    .SectionLastBox {
        align-items: center;
        flex-direction: column-reverse;
        margin: 20px 0 0 0;
    }
    
    .FirstSection {
        padding: 0px;
    }

    .navigation {
        display: none;
    }


    .Burgermenu {
        cursor: pointer;
        width: 50px;
        height: 50px;
        background: #F07566;
        border-radius: 50%;
        border: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }

    .Burgermenu::after {
        content: '';
        width: 50%;
        height: 2px;
        background-color: #fff;
        display: block;
        transition: 0.5s;
    }

    .Burgermenu::before {
        content: '';
        width: 50%;
        height: 2px;
        background-color: #fff;
        display: block;
        transition: 0.5s;
    }

    .Burg-active{
        cursor: pointer;
        width: 50px;
        height: 50px;
        background: #F07566;
        border-radius: 50%;
        border: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .Burg-active::after {
        position: absolute;
        content: '';
        transform: rotate(-45deg);
        width: 50%;
        height: 2px;
        background-color: #fff;
        display: block;
        transition: 0.5s;
    }

    .Burg-active::before {
        content: '';
        width: 50%;
        transform: rotate(45deg);
        height: 2px;
        background-color: #fff;
        display: block;
        position: absolute;
        
    }


    #active {
        background-color: gray;
        height: 100vh;
        width: 100%;
        position: absolute;
        display: block;
    }


    .headerLastChild {
        display: none;
    }


    .header {
        padding: 0 23px;
    }


    /* Box 2 */
    .Box2 {
        padding: 23px;
        display: flex;
        margin-left: 30px;
    }
    
    .Box2R {
        height: 100px;
        width: 22px;
        margin-top: 100px;
    }
    
    .Speakerbox {
        width: 50px;
        height: 50px;
        margin: 96px 0px 0 -30px;
    }

    .Speakerbox img {
        width: 50%;
        height: 50%;

    }
    
    
    .statisticBox {
        width: 100px;
        height: 60px;
        margin: 230px 0 0 -30px;
    }

    .statisticBox img {
        width: 70%;
        height: 70;
        object-fit: contain;
    }
    
    
    .RboxConent {
        width: 250px;
        height: 260px;
    }
    
    
    /* Box2*/



    /* Box1 */
.Box1 {
    position: relative;
    gap: 30px;
    padding: 23px;
}

.Box1 h2 {
    font-size: 56px;
}

.Box1span {
    padding: 0;
}

.box1insidediv {
    width: 100%;
    min-height: 144px;
}

.SerInfo {
    flex-direction: column;
    gap: 10px;
}


/* Box1 */


/*Second Section */
.secondSection {
    margin: 100px 0 0 0;
    flex-direction: column;
    gap:70px;
}
/*End Second Section */


/* Box 3 */

.Box3 {
    width: 100%;
}


.Box3Condiv3 {
    width: 250px;
    height: 260px;
}


.Box3Condiv1 {
    width: 250px;
    height: 192px;
    position: relative;
    margin:80px 0 0 -13px ;
}

.Box3Condiv2 {
    width: 100px;
    height: 100px;
    margin:180px 0 0 -20px ;
}

.Box3Condiv4 {
        width: 50px;
        height: 50px;
        margin: 50px 0px 0 -25px;
}

.Box3Condiv4 img {
    width: 50%;
}


.Box3Condiv5 {
    width: 70px;
    height: 70px;
    margin: 220px 0 0 210px;
}

.Box3Condiv5 img {
    width: 60%;
    height: 60%;
}
/* BoX3 */

/* Section 3 */
.Section3 {
    padding: 0 23px;
}
.BoxWrapper3 {
flex-direction: column;
}

.Wrapper3Card {
width: 100%;
}
/* Section 3 */


/* Section 4 */
.Section4 {
    max-width: 100%;
    margin: 155px 0 0 0;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

/* Section 4 */


/* Box4 */

.Box4 {
    margin-left: 35px;
    padding: 23px;
    width: 100%;
}

.Box4Condiv3 {
    width: 250px;
    height: 260px;
}

.Box4Condiv3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Box4Condiv1 {
    width: 100px;
    height: 192px;
    margin:-10px 0 0 165px ;
}

.Box4Condiv2 {
    width: 130px;
    height: 70px;
    margin:-18px 0 0 146px ;
}

.Box4Condiv4 {
    width: 50px;
    height: 50px;
    margin: 50px 0px 0 -24px;
}

.Box4Condiv4 img {
width: 50%;
}

.Box4Condiv5  {
    width: 100px;
    height: 60px;
    margin: 230px 0 0 70px;
}

.Box4Condiv5  img {
    width: 70%;
    object-fit: contain;
}


/* Section 5 */
.Section5 {
    max-width: 100%;
    margin-top: 100px;
    gap: 100px;
}

/* Section 5 */

/* Box 5 */

.Box5 {
    width: 100%;
    padding: 23px;
}

.PortFolioContent {
    grid-template-columns: repeat(1 , 1fr);
}

.portfolioBox {
    width: 100%;
}


.Pbc {
    width: 100%;
    height: auto;
}

.Pbc div {
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.PortBtn {
    display: block;
}


/* Section6 */
.Section6 {
    max-width: 100%;
    padding: 23px;
}

/* Section6 */


/* Partners */
.Partners {
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(2 , 2fr);
   gap: 25px;
}
/*End Partners */

/* Section 7 */

.Section7 {
    max-width: 100%;
    margin: 100px 0 0 0;
    flex-direction: column;
    gap: 50px;
    padding: 0 ;
}

/* Section 7 */

/* Box6*/

.Box6 {
    padding: 23px;
    justify-content: center;
}


.Box6Condiv3 {
    width: 250px;
    height: 260px;
}

.Box6Condiv3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Box6Condiv1 {
    width: 170px;
    height: 150px;
    margin:0;
    right: 42px;
    bottom: 10px;
}

.Box6Condiv2 {
    width: 100px;
    height: 100px;
    bottom: 0;
    margin:0 ;
}

.Box6Condiv4 {
    width: 50px;
    height: 50px;
    left: 30px;
    top: 100px;
    margin: 0px;
}

.Box6Condiv4 img {
    width: 50%;
    height: 50%;
}

.Box6Condiv5 {
    width: 80px;
    height: 90px;
    right: 20px;
    top: 100px;
    margin: 0px;
}

.Box6Condiv5 img {
    width: 60%;
}
/* Box6*/

/* Section 8 */
.Section8 {
    min-height: 900px;
    margin:150px 0 0 0;
    padding: 0;
    flex-direction: column;
    position: relative;
}
/* Section 8 */


/* Box 7 */
.Box7 {
    max-width: 100%;
    flex-direction: column;
    gap: 50px;
}

.VideBoxDiv {
    margin: -70px 0 0 0;
}

.Box8 {
    padding: 23px;
}

/* Box 8 */



/* SEction 10 */
.Section10 {
    flex-direction: column;
}


/*END SEction 10 */


/* ReViewBoX */

.RevSlidCard span {
    line-height: 5px;
}

.RevSlidCard p {
    line-height: 20px;
}
.RevSlidCard h2 {
    margin: 10px 0 0 0;
    line-height: 20px;
    font-size: 17px;
}

.RevSlideBtn {
    justify-content: center;
}
/* ReViewBoX */

/* Section11 */
.Section11 {
    margin-top: 100px;
}

/*End Section11 */


/* Box10 */
.Box10 {
    padding: 100px 23px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/* Box11 */
.Box11 {
    align-items: center;
}

/* Box13 */
.Box13 {
    padding: 23px;
    flex-direction: column;
    gap: 50px;
}

/* Box13 */


/* Section13 */
.Section13 {
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 0 23px;
    margin: 60px 0 0 0;
}

/*End Section13 */

/* Box14 */
.Box14 {
    width: 100%;
    flex-direction: column;
    gap: 30px;
}

.Box14img {
    overflow: hidden;
    width:100%;
}

.Box14info {
    gap: 20px;
}

.Box14info h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
}
.Box14info span {
    font-size: 20px;
    line-height:30px;
}
/* Box14 */

/* Box 15 */
.Box15 {
    width: 100%;
    flex-direction: column;
    gap: 0px;
}

.Box15card {
    width: 100%;
    flex-direction: column;
    gap: 25px;
}

.Box15cardimg {
    width: 100%;
    height: 240px;

}

/* Box 15 */


/* Footer-Section */
.Footer-Section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 128px 0 0 0 ;
    padding: 76px 23px 52px 23px;
    background: #3F3836;
}
/* Footer-Section */

.Footer-Section footer {
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.FootBox nav {
    align-items: center;
}

.FooterBottom {
    width: 100%;
    padding: 58px 0 0 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.FotBotR {
    display: flex;
    gap: 40px;
}

.FotBotR span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: right;
    color: #FFFFFF;
}


}